In [25]:
import pandas as pd
import logging
import os
import sys

In [26]:
sys.path.insert(1, r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Func')
from utils import connect_to_database, execute_query, main, load_dotenv

In [27]:
env_file_path_1 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_07'
query_file_path_1 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Source\ACTYON\ACIONA_CRM\ACIONA_CRM.SQL'
load_dotenv(env_file_path_1)
    
    # Verificar se todas as variáveis de ambiente necessárias foram carregadas
required_vars = ['SERVER_MIS', 'DATABASE_MIS', 'USERNAME_MIS', 'PASSWORD_MIS', 'DRIVER_MIS', 'PORT_MIS']
if all([os.getenv(var) for var in required_vars]):
        # Conectar ao banco de dados usando as variáveis do .env
        conn, cursor = connect_to_database({
            'SERVER': os.getenv('SERVER_MIS'),
            'DATABASE': os.getenv('DATABASE_MIS'),
            'USERNAME': os.getenv('USERNAME_MIS'),
            'PASSWORD': os.getenv('PASSWORD_MIS'),
            'DRIVER': os.getenv('DRIVER_MIS'),
            'PORT': os.getenv('PORT_MIS')
        })
else:
    df1 = pd.DataFrame()

2024-06-21 12:15:13,849 - INFO - Conexão ao banco de dados estabelecida.

In [39]:
df1 = execute_query(cursor, query_file_path_1)

2024-06-21 12:25:44,404 - ERROR - Erro ao executar a consulta SQL: Shape of passed values is (6, 1), indices imply (6, 2)

[(1, 'TIM - CONTROLE / POS PAGO'), (2, 'TIM - ULTRA FIBRA / LIVE'), (3, 'TIM - OI'), (4, 'TIM - PILOTO DEEPDIVE'), (5, 'TIM - Baixo risco'), (6, 'TIM - Alto risco')]

In [32]:
with open(query_file_path_1, 'r') as file:
    query = file.read()
print(query)  # Verifique se a consulta SQL está correta e formatada corretamente

# Agora, execute a consulta SQL com pd.read_sql_query
df = pd.read_sql_query(query, conn)

df

SELECT CONTRATANTE_ID, FANTASIA FROM tbcontratante WITH (NOLOCK)

C:\Users\int.matheus\AppData\Local\Temp\ipykernel_23640\3845306091.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   CONTRATANTE_ID                   FANTASIA
0               1  TIM - CONTROLE / POS PAGO
1               2   TIM - ULTRA FIBRA / LIVE
2               3                   TIM - OI
3               4      TIM - PILOTO DEEPDIVE
4               5          TIM - Baixo risco
5               6           TIM - Alto risco

In [22]:
if __name__ == "__main__":
    # Defina o caminho para o primeiro arquivo .env e o primeiro arquivo SQL
    env_file_path_1 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_07'
    query_file_path_1 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Source\ACTYON\ACIONA_CRM\ACIONA_CRM.SQL'
    
    # Carregar variáveis de ambiente do .env
    load_dotenv(env_file_path_1)
    
    # Verificar se todas as variáveis de ambiente necessárias foram carregadas
    required_vars = ['SERVER_MIS', 'DATABASE_MIS', 'USERNAME_MIS', 'PASSWORD_MIS', 'DRIVER_MIS', 'PORT_MIS']
    if all([os.getenv(var) for var in required_vars]):
        # Conectar ao banco de dados usando as variáveis do .env
        conn, cursor = connect_to_database({
            'SERVER': os.getenv('SERVER_MIS'),
            'DATABASE': os.getenv('DATABASE_MIS'),
            'USERNAME': os.getenv('USERNAME_MIS'),
            'PASSWORD': os.getenv('PASSWORD_MIS'),
            'DRIVER': os.getenv('DRIVER_MIS'),
            'PORT': os.getenv('PORT_MIS')
        })
        
        if conn and cursor:
            try:
                # Executar a consulta SQL e obter o DataFrame
                df1 = execute_query(cursor, query_file_path_1)
                
                # Desconectar do banco de dados
                conn.close()
                
            except Exception as e:
                logging.error(f"Erro ao executar a consulta SQL: {str(e)}")
                df1 = pd.DataFrame()  # Gerar DataFrame vazio em caso de erro na consulta
        else:
            # Se não foi possível conectar ao banco de dados, gerar DataFrame vazio
            df1 = pd.DataFrame()
    else:
        # Se não foi possível carregar todas as variáveis de ambiente do .env, gerar DataFrame vazio
        df1 = pd.DataFrame()
    
    # Continuar com o processamento do DataFrame df1 conforme necessário
    # Exemplo: salvar df1 em um arquivo, realizar análises, etc.
    logging.info(f"DataFrame df1 criado com {len(df1)} linhas.")

2024-06-21 12:07:20,699 - INFO - Conexão ao banco de dados estabelecida.
2024-06-21 12:07:20,944 - ERROR - Erro ao executar a consulta SQL: Shape of passed values is (6, 1), indices imply (6, 2)

[(1, 'TIM - CONTROLE / POS PAGO'), (2, 'TIM - ULTRA FIBRA / LIVE'), (3, 'TIM - OI'), (4, 'TIM - PILOTO DEEPDIVE'), (5, 'TIM - Baixo risco'), (6, 'TIM - Alto risco')]

2024-06-21 12:07:21,159 - INFO - DataFrame df1 criado com 0 linhas.

In [23]:
# Defina o caminho para o segundo arquivo .env e o segundo arquivo SQL
env_file_path_2 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_08'
query_file_path_2 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Queries\query_2.sql'
    
    # Conectar ao segundo banco, executar a consulta e obter o DataFrame
df2 = main(env_file_path_2, query_file_path_2)
    
    # Unir os DataFrames, se ambos tiverem dados
    if not df1.empty and not df2.empty:
        combined_df = pd.concat([df1, df2], ignore_index=True)
    elif not df1.empty:
        combined_df = df1
    else:
        combined_df = df2
    
    # Exibir o DataFrame combinado
    print(combined_df)

IndentationError: unexpected indent (1322697543.py, line 9)