In [82]:
import pandas as pd
import logging
import os
import sys

In [86]:
sys.path.insert(1, r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Func')
from utils import clear_env_variables, load_env, execute_query_sql, connect_to_database, main

ImportError: cannot import name 'execute_query_sql' from 'utils' (C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Func\utils.py)

In [ ]:
if __name__ == "__main__":
    # Defina o caminho para o primeiro arquivo .env e o primeiro arquivo SQL
    env_file_path_7 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_07'
    query_file_path_1 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Source\ACTYON\ACIONA_CRM\ACIONA_CRM.SQL'
    
    # Carregar variáveis de ambiente do .env
    load_dotenv(env_file_path_7)
    
    # Verificar se todas as variáveis de ambiente necessárias foram carregadas
    required_vars = ['SERVER_MIS', 'DATABASE_MIS', 'USERNAME_MIS', 'PASSWORD_MIS', 'DRIVER_MIS', 'PORT_MIS']
    if all([os.getenv(var) for var in required_vars]):
        # Conectar ao banco de dados usando as variáveis do .env
        conn, cursor = connect_to_database({
            'SERVER': os.getenv('SERVER_MIS'),
            'DATABASE': os.getenv('DATABASE_MIS'),
            'USERNAME': os.getenv('USERNAME_MIS'),
            'PASSWORD': os.getenv('PASSWORD_MIS'),
            'DRIVER': os.getenv('DRIVER_MIS'),
            'PORT': os.getenv('PORT_MIS')
        })
        
        if conn and cursor:
            try:
                # Executar a consulta SQL e obter o DataFrame
                df1 = execute_query_sql(conn, query_file_path_1)
                
                # Desconectar do banco de dados
                conn.close()
                
            except Exception as e:
                logging.error(f"Erro ao executar a consulta SQL: {str(e)}")
                df1 = pd.DataFrame()  # Gerar DataFrame vazio em caso de erro na consulta
        else:
            # Se não foi possível conectar ao banco de dados, gerar DataFrame vazio
            df1 = pd.DataFrame()
    else:
        # Se não foi possível carregar todas as variáveis de ambiente do .env, gerar DataFrame vazio
        df1 = pd.DataFrame()
    
    # Continuar com o processamento do DataFrame df1 conforme necessário
    # Exemplo: salvar df1 em um arquivo, realizar análises, etc.
    logging.info(f"DataFrame df1 criado com {len(df1)} linhas.")

2024-06-21 13:01:08,118 - INFO - Conexão ao banco de dados estabelecida.
C:\Users\int.matheus\AppData\Local\Temp\ipykernel_23640\3102702686.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)
2024-06-21 13:01:08,231 - INFO - Consulta SQL executada com sucesso.
2024-06-21 13:01:08,452 - INFO - DataFrame df1 criado com 6 linhas.

In [ ]:
if __name__ == "__main__":
    # Defina o caminho para o primeiro arquivo .env e o primeiro arquivo SQL
    env_file_path_8 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_08'
    query_file_path_1 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Source\ACTYON\ACIONA_CRM\ACIONA_CRM.SQL'
    
    # Carregar variáveis de ambiente do .env
    load_dotenv(env_file_path_8)
    
    # Verificar se todas as variáveis de ambiente necessárias foram carregadas
    required_vars = ['SERVER_MIS', 'DATABASE_MIS', 'USERNAME_MIS', 'PASSWORD_MIS', 'DRIVER_MIS', 'PORT_MIS']
    if all([os.getenv(var) for var in required_vars]):
        # Conectar ao banco de dados usando as variáveis do .env
        conn, cursor = connect_to_database({
            'SERVER': os.getenv('SERVER_MIS'),
            'DATABASE': os.getenv('DATABASE_MIS'),
            'USERNAME': os.getenv('USERNAME_MIS'),
            'PASSWORD': os.getenv('PASSWORD_MIS'),
            'DRIVER': os.getenv('DRIVER_MIS'),
            'PORT': os.getenv('PORT_MIS')
        })
        
        if conn and cursor:
            try:
                # Executar a consulta SQL e obter o DataFrame
                df2 = execute_query_sql(conn, query_file_path_1)
                
                # Desconectar do banco de dados
                conn.close()
                
            except Exception as e:
                logging.error(f"Erro ao executar a consulta SQL: {str(e)}")
                df2 = pd.DataFrame()  # Gerar DataFrame vazio em caso de erro na consulta
        else:
            # Se não foi possível conectar ao banco de dados, gerar DataFrame vazio
            df2 = pd.DataFrame()
    else:
        # Se não foi possível carregar todas as variáveis de ambiente do .env, gerar DataFrame vazio
        df2 = pd.DataFrame()
    
    # Continuar com o processamento do DataFrame df1 conforme necessário
    # Exemplo: salvar df1 em um arquivo, realizar análises, etc.
    logging.info(f"DataFrame df1 criado com {len(df1)} linhas.")

2024-06-21 13:01:45,695 - INFO - Conexão ao banco de dados estabelecida.
C:\Users\int.matheus\AppData\Local\Temp\ipykernel_23640\3102702686.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)
2024-06-21 13:01:45,813 - INFO - Consulta SQL executada com sucesso.
2024-06-21 13:01:46,027 - INFO - DataFrame df1 criado com 6 linhas.

In [ ]:
 # Unir os DataFrames, se ambos tiverem dados
if not df1.empty and not df2.empty:
        combined_df = pd.concat([df1, df2], ignore_index=True)
elif not df1.empty:
        combined_df = df1
else:
        combined_df = df2
    
    # Exibir o DataFrame combinado
print(combined_df)

    CONTRATANTE_ID                   FANTASIA
0                1  TIM - CONTROLE / POS PAGO
1                2   TIM - ULTRA FIBRA / LIVE
2                3                   TIM - OI
3                4      TIM - PILOTO DEEPDIVE
4                5          TIM - Baixo risco
5                6           TIM - Alto risco
6                1  TIM - CONTROLE / POS PAGO
7                2   TIM - ULTRA FIBRA / LIVE
8                3                   TIM - OI
9                4      TIM - PILOTO DEEPDIVE
10               5          TIM - Baixo risco
11               6           TIM - Alto risco