In [1]:
import pandas as pd
import logging
import os
import sys
from dotenv import load_dotenv
import pyodbc 

sys.path.insert(1, r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Func')
from utils2 import clear_env_variables, load_env, connect_to_database, execute_query_sql

In [2]:
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

def process_query(env_file_path, query_file_path):
    clear_env_variables()
    env_vars = load_env(env_file_path)
    required_vars = ['SERVER', 'DATABASE', 'USERNAME', 'PASSWORD', 'DRIVER', 'PORT']
    
    if all([env_vars.get(var) for var in required_vars]):
        try:
            conn = connect_to_database(env_vars)
            
            if conn:
                try:
                    df = execute_query_sql(conn, query_file_path)
                    conn.close()
                    logging.info(f"DataFrame criado com {len(df)} linhas.")
                    return df
                
                except Exception as e:
                    logging.error(f"Erro ao executar a consulta SQL: {str(e)}")
                    return pd.DataFrame()
            
            else:
                logging.error("Falha na conexão ao banco de dados.")
                return pd.DataFrame()
        
        except pyodbc.Error as ex:
            logging.error(f"Erro ao conectar ao banco de dados: {str(ex)}")
            return pd.DataFrame()
    
    else:
        logging.error("Erro: Não foi possível carregar todas as variáveis de ambiente necessárias.")
        return pd.DataFrame()

In [3]:
# TAKS_01
env_file_path_Task_01 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_07'
query_file_path_Task_01 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Source\ACTYON\ACIONA_CRM\ACIONA_CRM.SQL'

# Processar a TAKS_01
df_task_01 = process_query(env_file_path_Task_01, query_file_path_Task_01)

# TAKS_02
env_file_path_Task_02 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_08'
query_file_path_Task_02 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Source\ACTYON\ACIONA_CRM\ACIONA_CRM.SQL'

# Processar a TAKS_02
df_task_02 = process_query(env_file_path_Task_02, query_file_path_Task_02)

# TAKS_03
env_file_path_Task_03 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_09'
query_file_path_Task_03 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Source\ACTYON\ACIONA_CRM\ACIONA_CRM.SQL'

# Processar a TAKS_03
df_task_03 = process_query(env_file_path_Task_03, query_file_path_Task_03)

# TAKS_04
env_file_path_Task_04 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_10'
query_file_path_Task_04 = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Source\ACTYON\ACIONA_CRM\ACIONA_CRM.SQL'

# Processar a TAKS_04
df_task_04 = process_query(env_file_path_Task_04, query_file_path_Task_04)


# Combinar os DataFrames
combined_df = pd.concat([df_task_01, df_task_02,df_task_03,df_task_04], ignore_index=True)

# Exibir o DataFrame combinado
logging.info(f"DataFrame combinado criado com {len(combined_df)} linhas.")
display(combined_df)

2024-06-21 17:41:41,595 - INFO - Variáveis de ambiente carregadas: {'SERVER': '45.77.94.104', 'DATABASE': 'dbActyon_Tim_RPL', 'USERNAME': 'mis', 'PASSWORD': 'mis@123', 'DRIVER': '{ODBC Driver 17 for SQL Server}', 'PORT': '1433'}
2024-06-21 17:41:42,789 - INFO - Conexão ao banco de dados estabelecida.
C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Func\utils2.py:54: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)
2024-06-21 17:41:42,914 - INFO - Consulta SQL executada com sucesso.
2024-06-21 17:41:43,139 - INFO - DataFrame criado com 6 linhas.
2024-06-21 17:41:43,139 - INFO - Variáveis de ambiente carregadas: {'SERVER': '45.77.164.133', 'DATABASE': 'dbActyon_Kedu', 'USERNAME': 'mis', 'PASSWORD': 'mis@123', 'DRIVER': '{ODBC Driver 17 for SQL Server}', 'PORT': '1433'}
2024-06-21 17:41:44,305 - INFO - Conexão ao banco de dados estabelecida.
2024-06-21 17:41:44,421 - INFO - Consulta SQL executada com sucesso.
2024-06-21 17:41:44,655 - INFO - DataFrame criado com 8 linhas.
2024-06-21 17:41:44,655 - INFO - Variáveis de ambiente carregadas: {'SERVER': '192.168.10.200', 'DATABASE': 'dbactyon_meireles2', 'USERNAME': 'robo6.mis', 'PASSWORD': 'MIS@MF#2024', 'DRIVER': '{ODBC Driver 17 for SQL Server}', 'PORT': '1433'}
2024-06-21 17:41:44,671 - ERROR - Erro ao conectar ao banco de dados: ('28000', "[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Falha de logon do usuário 'robo6.mis'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Falha de logon do usuário 'robo6.mis'. (18456)")
2024-06-21 17:41:44,671 - ERROR - Falha na conexão ao banco de dados.
2024-06-21 17:41:44,671 - INFO - Variáveis de ambiente carregadas: {'SERVER': '1192.168.10.100', 'DATABASE': 'dbActyon_MFreitas', 'USERNAME': 'robo6.mis', 'PASSWORD': 'MIS@MF#2024', 'DRIVER': '{ODBC Driver 17 for SQL Server}', 'PORT': '1433'}
2024-06-21 17:41:59,690 - ERROR - Erro ao conectar ao banco de dados: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Provedor TCP: Este host não é conhecido.\r\n (11001) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]O tempo limite do logon expirou (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Erro relatado pela rede ou específico à instância ao estabelecer conexão com o SQL Server. O servidor não foi encontrado ou não está acessível. Verifique se o nome da instância está correto e se o SQL Server está configurado para permitir conexões remotas. Para obter mais informações, consulte os Manuais Online do SQL Server. (11001)')
2024-06-21 17:41:59,690 - ERROR - Falha na conexão ao banco de dados.
2024-06-21 17:41:59,692 - INFO - DataFrame combinado criado com 14 linhas.

    CONTRATANTE_ID                   FANTASIA
0                1  TIM - CONTROLE / POS PAGO
1                2   TIM - ULTRA FIBRA / LIVE
2                3                   TIM - OI
3                4      TIM - PILOTO DEEPDIVE
4                5          TIM - Baixo risco
5                6           TIM - Alto risco
6                1                       KEDU
7                2                  KEDU SAC
8                3                  KEDU 2022
9                4                      TESTE
10               5               KEDU LEGADO
11               6           KEDU TAPETE AZUL
12               7                  KEDU 2024
13               8        KEDU TAPETE AMARELO