In [158]:
import requests
import pandas as pd
import numpy as np
import pyodbc
import psycopg2
from datetime import datetime
from dotenv import load_dotenv
import os
import logging

In [159]:
# Configurar o logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

In [160]:
def clear_env_variables():
    """
    Limpa as variáveis de ambiente específicas usadas para conexão ao banco de dados.
    """
    keys_to_clear = ['SERVER_MIS', 'DATABASE_MIS', 'USERNAME_MIS', 'PASSWORD_MIS', 'DRIVER_MIS', 'PORT_MIS']
    for key in keys_to_clear:
        if key in os.environ:
            del os.environ[key]

In [161]:
def connect_to_database(env_file):
    """
    Carrega variáveis de ambiente de um arquivo .env especificado e estabelece uma conexão com o banco de dados.
    
    Args:
    env_file (str): Caminho para o arquivo .env.
    
    Returns:
    connection: Objeto de conexão com o banco de dados.
    cursor: Objeto cursor para interagir com o banco de dados.
    """

    # Limpar variáveis de ambiente específicas
    clear_env_variables()
    # Carregar variáveis de ambiente do arquivo .env especificado
    load_dotenv(env_file)
    
    # Parâmetros da conexão
    SERVER = os.getenv('SERVER_MIS')
    DATABASE = os.getenv('DATABASE_MIS')
    USERNAME = os.getenv('USERNAME_MIS')
    PASSWORD = os.getenv('PASSWORD_MIS')
    DRIVER = os.getenv('DRIVER_MIS')
    PORT = os.getenv('PORT_MIS') 
    
    # Logar as variáveis carregadas
    logging.info(f"Servidor: {SERVER}")
    logging.info(f"Banco de Dados: {DATABASE}")
    logging.info(f"Usuário: {USERNAME}")


    # Verificar se todas as variáveis de ambiente necessárias foram carregadas
    if not all([SERVER, DATABASE, USERNAME, PASSWORD, DRIVER]):
        raise ValueError("Certifique-se de que todas as variáveis de ambiente (SERVER_MIS, DATABASE_MIS, USERNAME_MIS, PASSWORD_MIS, DRIVER_MIS) estejam definidas no arquivo .env.")
    
    # Conexão com o SQL Server
    connection_string = f'DRIVER={DRIVER};SERVER={SERVER},{PORT};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD}'
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    
    return connection, cursor

"""
Exemplo de uso:

env_file_path = 'path/to/your/.env'  # Substitua pelo caminho para o seu arquivo .env

connection, cursor = connect_to_database(env_file_path)

Agora você pode usar 'connection' e 'cursor' para interagir com o banco de dados
"""

"\nExemplo de uso:\n\nenv_file_path = 'path/to/your/.env'  # Substitua pelo caminho para o seu arquivo .env\n\nconnection, cursor = connect_to_database(env_file_path)\n\nAgora você pode usar 'connection' e 'cursor' para interagir com o banco de dados\n"

In [162]:
# Carrega as variáveis de ambiente do arquivo .env
#load_dotenv(dotenv_path=r"C:\Users\Matheus Alexander\Desktop\DW\Data-Warehouse\Environment\.env")
# Exemplo de uso
if __name__ == "__main__":
    env_file_path = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.Env_01'  # Substitua pelo caminho para o seu arquivo .env
    connection, cursor = connect_to_database(env_file_path)
    logging.info("Conexão estabelecida com sucesso.")

2024-06-20 17:21:07,834 - INFO - Servidor: 10.12.101.21
2024-06-20 17:21:07,837 - INFO - Banco de Dados: detail_epro
2024-06-20 17:21:07,838 - INFO - Usuário: mis_mf
2024-06-20 17:21:07,847 - INFO - Conexão estabelecida com sucesso.

In [163]:
data = cursor.execute("SELECT TOP 10 *  FROM CallDetail")
#data = cursor.execute("SELECT TOP 10 *  FROM CallDetail")

In [164]:
# Obter os dados
columns = [column[0] for column in cursor.description]  # Obter nomes das colunas
data = cursor.fetchall()  # Obter todas as linhas

# Converter os dados para uma lista de dicionários
result = [dict(zip(columns, row)) for row in data]

# Opcional: Converter os dados para um DataFrame do Pandas
df = pd.DataFrame(result)

# Exibir os resultados
display(df)

,CallStartDt,SeqNum,CallId,Service_Id,User_Id,CallTypeId,CallCategoryId,DialedNum,Station,NearOffHookDt,...,AgentSiteId,AgentSwitchId,DetailTable,CallerId,IPNIQNodeId,ContactTypeId,LineNumber,QueueTime,UMID,WorkGroup_Id
0,2024-05-10 00:52:21.785,755525202,1,0,llusr,9,2,34992064222,1000,2024-05-10 00:52:21.785,...,1,148,CD,None,1,5,1,0,01-0010010001-240510-005221748-00001,None
1,2024-05-10 10:21:52.449,755525203,3,1,rstaspectagent,9,2,34988663589,21010,2024-05-10 10:21:52.449,...,1,159,CD,None,1,5,1,0,01-0010010001-240510-102152446-00002,None
2,2024-05-10 11:00:28.489,755525204,5,6,None,2,2,92981575520,None,2024-05-10 11:00:28.489,...,0,0,CD,None,1,1,1,0,01-0010010001-240510-110028464-00003,None
3,2024-05-10 11:00:28.489,755525205,6,6,None,2,2,92981575821,None,2024-05-10 11:00:28.489,...,0,0,CD,None,1,1,1,0,01-0010010001-240510-110028464-00004,None
4,2024-05-10 11:00:28.490,755525206,7,6,None,2,2,61999759735,None,2024-05-10 11:00:28.490,...,0,0,CD,None,1,1,1,0,01-0010010001-240510-110028464-00005,None
5,2024-05-10 11:00:28.490,755525207,8,6,None,2,2,21967181225,None,2024-05-10 11:00:28.490,...,0,0,CD,None,1,1,1,0,01-0010010001-240510-110028464-00006,None
6,2024-05-10 11:00:28.490,755525208,9,6,None,2,2,31994360553,None,2024-05-10 11:00:28.490,...,0,0,CD,None,1,1,1,0,01-0010010001-240510-110028464-00007,None
7,2024-05-10 11:00:28.491,755525209,10,6,None,2,2,11964493566,None,2024-05-10 11:00:28.491,...,0,0,CD,None,1,1,1,0,01-0010010001-240510-110028464-00008,None
8,2024-05-10 11:00:28.491,755525210,11,6,None,2,2,81998764515,None,2024-05-10 11:00:28.491,...,0,0,CD,None,1,1,1,0,01-0010010001-240510-110028464-00009,None
9,2024-05-10 11:00:28.491,755525211,12,6,None,2,2,86998491542,None,2024-05-10 11:00:28.491,...,0,0,CD,None,1,1,1,0,01-0010010001-240510-110028464-00010,None

In [165]:
# Fechar a conexão
cursor.close()
connection.close()