In [1]:
import requests
import pandas as pd
import numpy as np
import pyodbc
import psycopg2
from datetime import datetime
from dotenv import load_dotenv
import os

In [24]:
def connect_to_database(env_file):
    """
    Carrega variáveis de ambiente de um arquivo .env especificado e estabelece uma conexão com o banco de dados.
    
    Args:
    env_file (str): Caminho para o arquivo .env.
    
    Returns:
    connection: Objeto de conexão com o banco de dados.
    cursor: Objeto cursor para interagir com o banco de dados.
    """
    # Carregar variáveis de ambiente do arquivo .env especificado
    load_dotenv(env_file)
    
    # Parâmetros da conexão
    SERVER = os.getenv('SERVER_MIS')
    DATABASE = os.getenv('DATABASE_MIS')
    USERNAME = os.getenv('USERNAME_MIS')
    PASSWORD = os.getenv('PASSWORD_MIS')
    DRIVER = os.getenv('DRIVER_MIS')
    
    # Verificar se todas as variáveis de ambiente necessárias foram carregadas
    if not all([SERVER, DATABASE, USERNAME, PASSWORD, DRIVER]):
        raise ValueError("Certifique-se de que todas as variáveis de ambiente (SERVER_MIS, DATABASE_MIS, USERNAME_MIS, PASSWORD_MIS, DRIVER_MIS) estejam definidas no arquivo .env.")
    
    # Conexão com o SQL Server
    connection_string = f'DRIVER={DRIVER};SERVER={SERVER};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD}'
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    
    return connection, cursor

"""
Exemplo de uso:

env_file_path = 'path/to/your/.env'  # Substitua pelo caminho para o seu arquivo .env

connection, cursor = connect_to_database(env_file_path)

Agora você pode usar 'connection' e 'cursor' para interagir com o banco de dados
"""

"\nExemplo de uso:\n\nenv_file_path = 'path/to/your/.env'  # Substitua pelo caminho para o seu arquivo .env\n\nconnection, cursor = connect_to_database(env_file_path)\n\nAgora você pode usar 'connection' e 'cursor' para interagir com o banco de dados\n"

In [25]:
# Carrega as variáveis de ambiente do arquivo .env
#load_dotenv(dotenv_path=r"C:\Users\Matheus Alexander\Desktop\DW\Data-Warehouse\Environment\.env")

env_file_path = r'C:\Users\int.matheus\Desktop\DW\Data-Warehouse\Environment\.env'

connection, cursor = connect_to_database(env_file_path)

In [28]:
data = cursor.execute("Select top 10 * from EXACT_PRODUTOS_SUGERIDOS;")

In [29]:
# Obter os dados
columns = [column[0] for column in cursor.description]  # Obter nomes das colunas
data = cursor.fetchall()  # Obter todas as linhas

# Converter os dados para uma lista de dicionários
result = [dict(zip(columns, row)) for row in data]

# Opcional: Converter os dados para um DataFrame do Pandas
df = pd.DataFrame(result)

# Exibir os resultados
display(df)

,leadId,productId,Composed_key,quantity,labelValue,descountType,descountValue,amount,id_empresa_exact
0,10174295,44266,1017429544266,1,0.0,0,0.0,0.0,1
1,10250899,44266,1025089944266,1,0.0,0,0.0,0.0,1
2,11329163,66247,1132916366247,1,0.0,Percentual,84.6,818000.0,1
3,11601590,44266,1160159044266,1,0.0,0,0.0,0.0,1
4,11975950,44266,1197595044266,1,0.0,0,0.0,2800.0,1
5,11975950,58640,1197595058640,1,0.0,0,0.0,300.0,1
6,12211699,44266,1221169944266,1,0.0,0,0.0,0.0,1
7,12371894,44266,1237189444266,1,0.0,0,0.0,0.0,1
8,12496796,44266,1249679644266,1,0.0,0,0.0,0.0,1
9,12549908,44266,1254990844266,1,0.0,0,0.0,0.0,1

In [ ]:
# Fechar a conexão
cursor.close()
connection.close()